<div class="container mt-4">
    <h2>List of Students</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Student ID</th>
          <th>Name</th>
          <th>Birth Date</th>
          <th>Address</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Class Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{student.studentId}}</td>
          <td>{{student.name}}</td>
          <td>{{student.birthDate}}</td>
          <td>{{student.address}}</td>
          <td>{{student.phoneNumber}}</td>
          <td>{{student.email}}</td>
          <td>{{student.className}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  