<div class="menu">
    <div class="name-game-container">
        <div class="name-game-container">
            <h2 class="name-game">Ai là triệu phú?</h2>
        </div>
        <div class="option-container">
            <div class="option" routerLink="/playGame">CHƠI NGAY</div>
            <div class="option" routerLink="/highScore">ĐIỂM CAO</div>
            <div class="option" routerLink="/account">TÀI KHOẢN</div>
            <div class="option" routerLink="/manage-question">MANAGEME QUESTION</div>
            <div class="option" routerLink="/manage-account">MANAGEME USER</div>
            <div class="option">CÀI ĐẶT</div>
        </div>
    </div>
</div>