.vertical-navbar {
  background-color: #333;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.navbar-header {
  padding: 10px 15px;
}

.navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  padding: 10px 15px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.router-outlet-container {
  margin-left: 200px; /* Đảm bảo không bị đè */
  flex: 1;
  padding: 20px; /* Để tránh nội dung bị che khuất bởi navbar */
}
