<div class="topnav" #myTopnav>
  <a class="nav-link" routerLink="">Home</a>
  <a class="nav-link" routerLink="academic" routerLinkActive="active">Academic</a>
  <a class="nav-link" routerLink="student" routerLinkActive="active">Student</a>
  <a class="nav-link" routerLink="class" routerLinkActive="active">Class</a>
  <a class="nav-link" routerLink="grade" routerLinkActive="active">Grade</a>
  <a class="nav-link" routerLink="subject" routerLinkActive="active">Subject</a>
  <a class="nav-link" routerLink="manager-account" routerLinkActive="active">Manager Account</a>
  <a class="nav-link" routerLink="/account" routerLinkActive="active">Account</a>
  <a class="icon" (click)="toggleMenu()">
    <i class="fa fa-bars"> hehe</i>
  </a>
</div>

<div style="padding-left:16px">
  <router-outlet></router-outlet>
</div>
