<div class="container mt-4">
  <button class="btn btn-outline-success mb-2 me-2" (click)="openScrollableContent(longContent)">
    Add
  </button>
  <h2>List of Students</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th *ngIf="roleSuccess === true">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let academic of academics">
        <td>{{academic.yearId}}</td>
        <td>{{academic.yearName}}</td>
        <td *ngIf="roleSuccess === true">
          <button class="btn btn-outline-primary" (click)="openScrollableContent2(longContent2,academic)">Update</button>
          <button class="btn btn-outline-danger" (click)="deleteAcademic(academic.yearId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Academic</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">  
      <input type="text" placeholder="Academic" #yearAcademic class="form-control">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('Close click'); addAcademic(yearAcademic.value)">Add</button>
  </div>
</ng-template>

<!--update-->
<ng-template #longContent2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Academic</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">  
      <input type="text" placeholder="Academic" #yearAcademicUpdate class="form-control" value="{{academicEdit.yearName}}">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('Close click'); updateAcademic(yearAcademicUpdate.value)">Update</button>
  </div>
</ng-template>